.page {
  max-width: 876px;
  width: 100%;
  margin: 50px auto 50px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #163152
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.nav {
  display: flex;
}

.nav-wrapper {
  padding-top: 30px;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 40px;
  list-style: none;
  width: 560px;
}

.site-navigation-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  margin-right: 40px;
  list-style: none;
  width: 560px;
}

.site-navigation-item a {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.site-navigation-item {
  width: 100px;
  background-color: #4e9dff;
  border: 3px solid #4e9dff;
  text-align: center;
  
}

.git {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}