body {
    margin: 0;
    font-family: "Rubik Wet Paint", sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #211F20;
    background-color: #fdfdff;
    width: 1280px;
    margin: 0 auto;
}

.logo {
    font-size: 36px;
    line-height: 44px;
}

.main-header {
    width: 1280px;
    margin: 0 auto;
}

.item-img {
    list-style: none;
    display: none;
}

.item:hover .caption {
    color: #4340e0;
}

 .item:hover .item-img {   
  display: block;
  width: 300px;
  height: 300px;
  box-shadow: 0 0 20px rgba(0,0,0,0.8); 
}
